<ion-header>
  <ion-toolbar color="{{categoria}}">
    <ion-row>
      <ion-col size="4">
        <ion-avatar>
          <img src="../../assets/categorias/{{categoria}}.png" class="img-fluid my-2 px-2" alt="">
        </ion-avatar>
      </ion-col>
      <ion-col size="4">
        <p class="categoria mt-3">{{categoria}}</p>
      </ion-col>
      <ion-col size="4">
        <p class="tiempo my-2 mx-2" *ngIf="!verInfo" id="timer">{{time}}</p>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="caja-juego">
    <div class="container pregunta">
      <ion-card>
        <ion-card-content class="txt-pregunta">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit quis ratione earum velit placeat, nobis exercitationem facilis illum possimus voluptates
        </ion-card-content>
      </ion-card>
    </div>
    <div class="container respuestas animated fadeIn" id="respuestas">
      <!--revisar para unificarlo-->
        <p class="text-center animated fadeIn correcto" id="respuesta" *ngIf="showRespuestaCorrecto">{{respuestaStatus}}</p>
        <p class="text-center animated fadeIn incorrecto" id="respuesta" *ngIf="showRespuestaIncorrecto">{{respuestaStatus}}</p>
      <div class="list-group">
        <button class="list-group-item list-group-item-action mb-4 txt-respuesta" (click)="respuesta('Incorrecta','Correcta')">
          Incorrecta
        </button>
        <button class="list-group-item list-group-item-action mb-4 txt-respuesta" (click)="respuesta('Correcta','Correcta')">
          Correcta
        </button>
        <button class="list-group-item list-group-item-action mb-4 txt-respuesta" (click)="respuesta('Incorrecta','Correcta')">
          Incorrecta
        </button>
        <button class="list-group-item list-group-item-action mb-4 txt-respuesta" (click)="respuesta('Incorrecta','Correcta')">
          Incorrecta
        </button>
      </div>
    </div>
    <ion-card class="masInformacion animated fadeIn fast" *ngIf="verInfo" color="{{categoria}}">
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Más información</ion-card-title>
      </ion-card-header>
      <ion-card-content class="text-justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum perferendis obcaecati nesciunt cupiditate aut? Eaque veritatis minima harum omnis, hic dolorum expedita? Itaque distinctio suscipit facilis quam eligendi illum ut sequi, eos modi natus expedita fugit reiciendis laboriosam ex pariatur accusantium? Neque voluptate sint velit consectetur dolorem cumque aliquam quod officia iste voluptatibus, ad sit sequi ipsam. Dolorem pariatur vero vel et accusamus enim voluptas? Vero sit sint, voluptatum a placeat magnam veritatis fugiat dolore laudantium molestias ipsum deleniti totam non, id rem perspiciatis temporibus. A, nesciunt optio ex nostrum accusamus consequuntur neque? Hic dolore soluta cupiditate deserunt ipsam ipsa.
      </ion-card-content>
    </ion-card>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/ruleta" *ngIf="verInfo">
    <ion-fab-button [color]="categoria">
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>