.categoria{text-align: center;font-size:18px;font-family: 'Bellota Text', cursive;font-weight: bold;text-transform: uppercase;}
.tiempo{text-align: end;font-size: 30px;font-weight: bold;}

.caja-juego{background-color: #b6b6b6;width: 100%;min-height:100%;margin-bottom: 0px;}

.caja-juego{padding-top:2vh;}
.txt-pregunta{text-align: center;font-size: 16px;text-align:justify;}

.respuestas{margin-top: 5vh;}
.txt-respuesta{text-align: center;font-size: 15px;cursor: pointer;border-radius: 20px;}

.txt-respuesta:hover{font-size: 16px;}
#respuesta{font-size: 30px;font-family: 'Source Code', sans-serif;font-weight: bold;text-transform: uppercase;}
.correcto{color:#0e500c;}
.incorrecto{color:#eb445a;}


.ocultarRespuesta{transform: translateX(-100vh);transition: all 1s ease;}

.masInformacion{
    position: relative;
    bottom: 300px;
}

