.puntajes{margin-top:0px;padding: 0px;}

.puntajes, .container ion-list ion-item {background-color: #942194;}
ion-list{background-color: #942194;}

ion-item{border-radius: 50px;}
ion-label{font-weight: bold;}
.puntaje{font-size: 30px;font-weight: bold;color: #b4b418c0;font-family: 'Bellota Text', cursive;}

.btn-jugar{width:200px;height:40px;font-size: 20px;font-family: 'Source Code Pro', monospace;text-transform: uppercase;font-weight: bold;border-radius: 30px;margin-bottom: 20px;}